// Variables
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: $text-color;
    overflow-y: overlay;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.alert.header-message {
    border-radius: 0 !important;
}
