.auth-layout {
    min-height: 100vh;
    width: 100%;
    opacity: 1;
    border: none;
    cursor: default;
    display: flex;
    background-color: $primary;
    padding: 2rem 8rem;

    .left {
        display: flex;
        flex-direction: column;

        .left-header {
            display: flex;
            justify-content: flex-start;

            .left-header-brand {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $white;
                .left-header-brand-img {
                    width: 5rem;
                }

                .left-header-brand-heading {
                    font-weight: 700;
                    font-size: 2rem;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .left-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 8rem;
            .left-content-img {
                width: 80%;
            }
            .left-content-description {
                color: $white;
                font-size: 1.8rem;
                font-weight: 700;
                text-align: center;
                padding-top: 2rem;
            }
        }
    }

    .right {
        padding: 4rem 4rem;
        display: flex;
        align-items: center;
        .auth-form-wrapper {
            width: 100%;
            background-color: $white;
            padding: 6rem 8rem;
            border-radius: 1rem;
            .auth-form-title {
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
                padding: 2rem 0;
            }

            .auth-form-input-group {
                margin-bottom: 4rem;
                position: relative;
                .auth-form-input {
                    padding: 1rem 2rem;
                    line-height: 2;
                    font-size: 1.6rem;
                    background-color: $white;
                }

                .auth-form-input-password-icon {
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    transform: translateY(-50%);
                    cursor: pointer;
                    z-index: 2;
                }
            }

            .auth-form-register-footer {
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }

            .auth-form-login-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.6rem;
                margin-bottom: 2rem;

                .auth-form-login-remember {
                    margin: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0;

                    .auth-form-login-remember-check-box {
                        margin: 0;
                        margin-right: 1rem;
                    }
                    .auth-form-login-remember-label {
                    }
                }

                .auth-form-forget-password {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .auth-form-forget-password-icon {
                        margin: 0;
                        margin-right: 1rem;
                    }
                    .auth-form-forget-password-label {
                    }
                }
            }

            .auth-form-submit-btn {
                width: 100%;
                padding: 1rem 2rem;
                font-size: 1.8rem;
                color: $white;
            }

            .auth-form-redirect {
                font-size: 1.6rem;
                text-align: center;
                margin-top: 2rem;
                .auth-form-redirect-question {
                    margin-right: 1rem;
                }
                .auth-form-redirect-link {
                    text-decoration: none;
                    color: $primary;
                    cursor: pointer;
                }
            }

            .auth-form-back {
                font-size: 1.6rem;
                margin-top: 2rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .auth-form-back-link {
                    text-decoration: none;
                    color: $primary;
                    cursor: pointer;
                    margin-left: auto;
                }
            }
        }
    }
}
